.tickup {
  color: green;
}

.tickdown {
  color: red;
}

tr {
  width: 100vw;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
}

tr :nth-child(odd) {
  background-color: rgb(210, 213, 216);
}
tr :nth-child(even) {
  background-color: #fff;
}
